.spinner-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

mat-card {
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}

mat-card-header {
  background-color: #2cb0fd; /* Teal color; adjust based on your theme */
  color: #fff;
}

mat-card-title, mat-card-subtitle {
  color: #fff !important;
}

.i {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 170px;
}

mat-card-content p {
  margin: 10px 0;
}

/* You can adjust the color based on your theme */
.mat-card-header-text {
  color: #ffffff;
}
