
<div class="container">
    <app-sidebar></app-sidebar>
    <div class="content">
  <div class="mb-3">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <label for="search" class="form-label">Search by Libelle</label>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">faculte</th>
          <th scope="col">type</th>
       
        
          <th scope="col">Delete</th>
          <th scope="col">Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etudiant of ListOfEtudiant.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
          <th scope="row">{{etudiant.idEtudiant}}</th>
          <td>{{etudiant.faculte}}</td>
          <td>{{etudiant.typeEtudiant}}</td>
          
          
          <td><button type="button" class="btn btn-danger" (click)="delete(etudiant.idEtudiant)" onClick="window.location.reload();">Delete</button></td>
          <td><button type="button" class="btn btn-primary" [routerLink]="'/etudiants/update/' + etudiant.idEtudiant"  >Update</button></td>
         
  
          
        </tr>
       
       
      </tbody>
    </table>
    <div class="pagination">
      <ul class="pagination">
          <li class="page-item" *ngFor="let page of getPages()">
              <a class="page-link" (click)="changePage(page)">{{ page }}</a>
          </li>
      </ul>
  </div>
    
    
  
  
  
  
  
  
  