<div class="h">
    <h2>Ajouter un Pack</h2>
</div>
<form [formGroup]="packForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Libelle</mat-label>
    <input matInput formControlName="libelle" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
    <input matInput formControlName="prix" required>
    </mat-form-field>
    <div class="row">
    <input type="file" (change)="uploadFile($event)" required>
</div>
<div class="row">
<button mat-raised-button color="primary" type="submit" [disabled]="!packForm.valid">Create Pack</button>
</div>
</form>