.h {
    background-color: #f0f0f0; 
    padding: 20px;
    text-align: center; 
}

form {
    margin: auto;
    max-width: 500px; 
    padding: 20px; 
    background-color: #ffffff;
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

mat-form-field {
    width: 100%; 
    margin-bottom: 16px; 
}

input[type="file"] {
    margin-bottom: 20px; 
}

button {
    margin-top: 10px;
}
