<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Libelle</th>
        <th scope="col">Etablissement</th>
        <th scope="col">Departement</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let niveauSpecialite of ListOfNiveauSpecialites ">
        <th scope="row">{{niveauSpecialite.idNiveauSpecialite}}</th>
        <td>{{niveauSpecialite.libelle}}</td>
        <td>{{niveauSpecialite.etablissement}}</td>
        <td>{{niveauSpecialite.departement}}</td>
        <td><button type="button" class="btn btn-danger" (click)="delete(niveauSpecialite.idNiveauSpecialite)" onClick="window.location.reload();">Delete</button></td>
        <td><button type="button" class="btn btn-primary" [routerLink]="'/niveauSpecialite/update/' + niveauSpecialite.idNiveauSpecialite"  >Update</button></td>
       

        
      </tr>
     
     
    </tbody>
  </table>
  <button (click)="showAddTodo()" class="btn btn-primary">Ajouter Niveau et specialite</button>
  <br>
  <br>
  
  <div *ngIf="show" class="form-container">
    <form [formGroup]="todoForm" (ngSubmit)="handelSubmit()">
        <div class="mb-3">
            <label for="libelle" class="form-label">Libelle</label>
            <input type="text" id="libelle" class="form-control form-control-sm custom-input" formControlName="libelle">
        </div>
        <div class="mb-3">
            <label for="etablissement" class="form-label">Etablissement</label>
            <input type="text" id="etablissement" class="form-control form-control-sm custom-input" formControlName="etablissement">
        </div>
        <div class="mb-3">
            <label for="departement" class="form-label">Departement</label>
            <input type="text" id="departement" class="form-control form-control-sm custom-input" formControlName="departement">
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>





