<div class="container">
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input
        (change)="handleChange($event)"
        class="form-control mr-sm-2"
        type="text"
        placeholder="Search"
      />
    </div>
  </form>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="cin">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
        mat-sort-header
        >cin</mat-header-cell
      >

      <mat-cell *matCellDef="let a">{{ a.contact.cin }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
        mat-sort-header
        >email</mat-header-cell
      >
      <mat-cell *matCellDef="let a">{{ a.contact.email }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Nom">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
        mat-sort-header
        >Nom</mat-header-cell
      >
      <mat-cell *matCellDef="let a"
        >{{ a.contact.nom }} {{ a.contact.prenom }}</mat-cell
      >
    </ng-container>
    <ng-container matColumnDef="telephone">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
        mat-sort-header
        >telephone</mat-header-cell
      >
      <mat-cell *matCellDef="let a">{{ a.contact.telephone }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="DateDebut">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
        mat-sort-header
        >Date de Debut</mat-header-cell
      >
      <mat-cell *matCellDef="let a">{{
        a.dateDebut | date
      }}</mat-cell> </ng-container
    >a

    <ng-container matColumnDef="budget">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
        mat-sort-header
        >budget</mat-header-cell
      >
      <mat-cell *matCellDef="let a">{{ a.budget }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-table-header"
      ></mat-header-cell>
      <mat-cell *matCellDef="let a">
        <button mat-icon-button (click)="deleteAdmin(a.idAdmin)">
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button mat-icon-button (click)="showAdmin(a)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="editAdmin(a)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="mat-table-header"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<button (click)="openDialog()" class="btn btn-primary">
  add Director Financiere
</button>
